.bus-schedule-container {
    width: 90%;
    margin: auto;
    text-align: center;
    background-color: #f5f5f5;
    padding: 10px;
    margin-top: 80px; 
    padding: 20px; 
}

.bus-schedule-container {
    position: relative;
    width: 360px; /* Mobile viewport width */
    height: 640px; /* Mobile viewport height */
    margin: 0 auto;
    overflow: hidden;
  }

.bus-schedule-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #5a84e7;
    color: white;
    padding: 10px;
    font-size: 18px;
}

.add-reminder {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.bus-schedule-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.bus-schedule-table th, .bus-schedule-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.bus-schedule-table th {
    background: #f0f0f0;
}
