.splash-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full screen height */
    width: 100vw; /* Full screen width */
    background-color: #f8f9fa; /* Light background */
    text-align: center;
}

h1 {
    font-size: 3rem;
    color: #2c3e50;
    margin-bottom: 10px;
}

p {
    font-size: 1.5rem;
    color: #7f8c8d;
}
