.student-home {
    padding: 20px;
    background-color: #f0f4f8; /* Light grey background for better visibility */
}

.student-home {
    position: relative;
    width: 360px; /* Mobile viewport width */
    height: 640px;
    margin: 0 auto;
    overflow: hidden;
  }

.bus-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.bus-card {
    background-color: #fff;
    border: 2px solid #3F51B5;
    border-radius: 8px;
    padding: 15px;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bus-card h3 {
    margin: 0;
    color: #3F51B5; /* Matching navbar color */
}

.bus-card p {
    margin: 5px 0;
    color: #555;
}

.home-heading {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    color: white;
}

.upcoming-section .bus-card{
    height: 150px;
}


