.dashboard-menu {
    position: relative;
    width: 360px; /* Mobile viewport width */
    height: 640px; /* Mobile viewport height */
    margin: 0 auto;
    overflow: hidden;
  }

.dashboard-menu ul {
    list-style-type: none;
    padding: 0;
}
.dashboard-menu li {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    cursor: pointer;
}
.dashboard-menu a {
    text-decoration: none;
    color: #3B82F6;
}
